@font-face {
    font-family: Fredoka;
    src: url(./FredokaOne-Regular.ttf);
}

html {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #E6192F 0%, white 50%, #2FA1D3 100%);
    font-family: Fredoka;
}

body {
    margin: 0; 
    height: 100%; 
    overflow: hidden
}

.memory {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

button {
    background: #E6192F;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-family: Fredoka;
    font-size: 18pt;
}

.disabled {
    background: #9D1A36;
    color: gray;
}

.stats {
    color: white;
    font-size: 14pt;
}

.container {
    position: relative;
}

.board, .win {
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33/ 25%);
    background: linear-gradient(144deg, #0056A2 0%, white 50%, white 100%);
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}

.container.flipped .board {
    transform: rotateY(180deg) rotateZ(50deg);
}

.container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}

.card {
    position: relative;
    width: 200px;
    height: 100px;
    cursor: pointer;
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #282A3A;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg) rotateZ(50deg);
    font-size: 14pt;
    user-select: none;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.card.matched .card-back {
    background-color: #99ff99;
    transition: background-color 777ms ease-in;
}

.win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
}

.win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: #282A3A;
}

.highlight {
    color: #2FA1D3;
}