@font-face {
    font-family: Fredoka;
    src: url(./FredokaOne-Regular.ttf);
}

.html, .body{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #E6192F 0%, white 50%, #2FA1D3 100%);
    font-family: Fredoka;
    overflow: hidden;
    margin: 0; 
}

.memory {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use viewport height to make it cover the screen */
}

.controls {
    display: flex;
    gap: 300px;
    margin-top: 50px;
}

.button {
    background: #E6192F;
    color: white;
    border-radius: 5px;
    padding: 0.7em 1em;
    margin: 0.5em;  
    border: 0;
    cursor: pointer;
    font-family: Fredoka;
    font-size: 12pt;
}

.disabled {
    background: #9D1A36;
    color: gray;
}

.stats {
    color: black;
    font-size: 14pt;
}

.container {
    position: relative;
}

.board, .win {
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33/ 25%);
    background: linear-gradient(144deg, #0056A2 0%, white 50%, white 100%);
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
    margin-top: -80px;
}

.board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    margin-top: -80px;
}

.container.flipped .board {
    transform: rotateY(180deg) rotateZ(50deg);
}

.container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}

.card {
    position: relative;
    width: 10em;
    height: 5em;
    cursor: pointer;
}

.cardFront,
.cardBack {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #282A3A;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.cardBack {
    transform: rotateY(180deg) rotateZ(50deg);
    font-size: 12pt;
    user-select: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FDF8E6;
}

.card.flipped .cardFront {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .cardBack {
    transform: rotateY(0) rotateZ(0);
}

.card.matched .cardBack {
    background-color: #99ff99;
    transition: background-color 777ms ease-in;
}

.win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotateY(180deg) rotateZ(50deg);
}

.winText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: black;
}

.highlight {
    color: #2FA1D3;
}